upstream app_servers {
    server unix:/app/{{ application_name }}/shared/run/gunicorn.sock fail_timeout=0;
}

server {
    server_name {{ application_hostname }};

    # Settings to serve static files
    location ^~ /static/  {
        alias /app/{{ application_name }}/current/static/;
    }

    location ^~ /media/  {
        alias /app/{{ application_name }}/shared/media/;
    }

    # Proxy connections to the application servers
    location / {
        proxy_pass         http://app_servers;
        proxy_redirect     off;
        proxy_set_header   Host $host;
        proxy_set_header   X-Real-IP $remote_addr;
        proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header   X-Forwarded-Host $server_name;
        proxy_set_header   X-Forwarded-Proto https;
    }
}
